<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WORKSHOP</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <section class="d-flex flex-row justify-content-around align-items-stretch align-content-around">
      <form action="/signup" method="post" class="card shadow" style="width: 25rem;">
        <div class="card-header">
          <h5 class="card-title">Sign Up</h5>
        </div>
        <div class="card-body">
          <label for="signup_username" class="form-label">Username</label>
          <input id="signup_username" type="text" class="form-control" name="username" placeholder="Enter name" />
          <label for="signup_password" class="form-label">Password</label>
          <input id="signup_password" type="password" class="form-control" name="password" placeholder="Enter password" />
          <label for="signup_role" class="form-label">Role</label>
          <select id="singup_role" name="role" class="form-control">
            <option value="participant">Participant</option>
            <option value="stakeholder">Stakeholder</option>
            <option value="host">Host</option>
          </select>
        </div>
        <div class="card-footer text-end">
          <input type="submit" class="btn btn-success" value="Submit" />
        </div>
        <!-- {% if error %}
        <div class="alert alert-danger" role="alert">Error: {{ error }}!</div>
        {% endif %} -->
      </form>
      <form action="/signin" method="post" class="card shadow" style="width: 25rem;">
        <div class="card-header">
          <h5 class="card-title">Sign In</h5>
        </div>
        <div class="card-body">
          <label for="signin_username" class="form-label">Username</label>
          <input id="sigin_username" type="text" class="form-control" name="username" placeholder="Enter name" />
          <label for="signin_password" class="form-label">Password</label>
          <input id="sigin_password" type="password" class="form-control" name="password" placeholder="Enter password" />
        </div>
        <div class="card-footer text-end">
          <input type="submit" class="btn btn-success" value="Submit" />
        </div>
        <!-- {% if error %}
        <div class="alert alert-danger" role="alert">Error: {{ error }}!</div>
        {% endif %} -->
      </form>
    </section>
  </body>
</html>
