<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Virtual Design Workshop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="icon" href="{{ url_for('static', filename='images/fav.png') }}" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/color.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>

    <div class="theme-layout">
    	<div class="container-fluid">
    		<div class="row merged">
        <!-- <div class="row"> -->

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    				<!-- <div class="login-reg-bg"> -->
            <div class="login-reg-bg">
    					<div class="log-reg-area sign">
    						<h2 class="log-title">Signup</h2>
    						<form method="post" action="/signup">
    							<div class="form-group">
    							  <input name="username" type="text" id="input" required="required"/>
    							  <label class="control-label" for="input">Username</label><i class="mtrl-select"></i>
    							</div>
    							<div class="form-group">
    							  <input name="password" type="password" required="required"/>
    							  <label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
    							</div>
                  <div class="form-group">
    							  <input name="name" type="text" required="required"/>
    							  <label class="control-label" for="input">Name</label><i class="mtrl-select"></i>
    							</div>
                  <div class="form-group">
                    <select id="singup_role" name="role" >
                      <option value="participant">Participant</option>
                      <option value="stakeholder">Stakeholder</option>
                      <option value="host">Host</option>
                    </select>
                    <label class="control-label" for="input">Role</label><i class="mtrl-select"></i>
                  </div>
    							<div class="submit-btns">
                    <button type="submit" class="mtr-btn signin" name="button"><span>Signup</span></button>
                    <!-- <input type="submit" class="mtr-btn signin" value="Login" /> -->
    							</div>
    						</form>
    					</div>

    				</div>
    			</div>

    			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    				<!-- <div class="login-reg-bg"> -->
            <div class="login-reg-bg">
    					<div class="log-reg-area sign">
    						<h2 class="log-title">Signin</h2>
    						<form method="post" action="/signin">
    							<div class="form-group">
    							  <input name="username" type="text" id="input" required="required"/>
    							  <label class="control-label" for="input">Username</label><i class="mtrl-select"></i>
    							</div>
    							<div class="form-group">
    							  <input name="password" type="password" required="required"/>
    							  <label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
    							</div>
    							<div class="checkbox">
    							  <label>
    								<input type="checkbox" checked="checked"/><i class="check-box"></i>Always Remember Me.
    							  </label>
    							</div>
    							<a href="#" title="" class="forgot-pwd">Forgot Password?</a>
    							<div class="submit-btns">
                    <button type="submit" class="mtr-btn signin" name="button"><span>Signin</span></button>
                    <!-- <input type="submit" class="mtr-btn signin" value="Login" /> -->
    							</div>
    						</form>
    					</div>

    				</div>
    			</div>


    		</div>
    	</div>
    </div>



    <footer>
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-4 col-md-4">
  					<div class="widget">
  						<div class="foot-logo">
  							<div class="logo">
  								<h3>Virtual Design Workshop</h3>
  							</div>
  							<p>
  								IIIT Hyderabad
  							</p>
  						</div>

  						<ul class="location">
  							<li>
  								<i class="ti-map-alt"></i>
  								<p>Professor CR Rao Rd, Gachibowli, Hyderabad, Telangana 500032</p>
  							</li>
  							<li>
  								<i class="ti-mobile"></i>
  								<p>040 6653 1000</p>
  							</li>
  						</ul>
  					</div>
  				</div>
  				<div class="col-lg-2 col-md-4">
  					<div class="widget">
  						<div class="widget-title"><h4>follow</h4></div>
  						<ul class="list-style">
  							<li><i class="fa fa-facebook-square"></i> <a href="https://www.facebook.com/IIITH" title="">facebook</a></li>
  							<li><i class="fa fa-twitter-square"></i><a href="https://twitter.com/iiit_hyderabad" title="">twitter</a></li>
  							<li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/iiit.hyderabad" title="">instagram</a></li>
  							<li><i class="fa fa-linkedin"></i> <a href="https://www.linkedin.com/school/iiit-hyderabad/" title="">Linkedin</a></li>
  							<li><i class="fa fa-youtube-square"></i> <a href="https://www.youtube.com/channel/UCzCMyBy0VRoQBF8x-TsXTnQ" title="">Youtube</a></li>
  						</ul>
  					</div>
  				</div>
  				<div class="col-lg-2 col-md-4">
  					<div class="widget">
  						<div class="widget-title"><h4>Navigate</h4></div>
  						<ul class="list-style">
  							<li><a href="https://www.iiit.ac.in/" title="">about us</a></li>
  							<li><a href="https://www.iiit.ac.in/contact/" title="">contact us</a></li>
  							<li><a href="https://www.iiit.ac.in/" title="">terms & Conditions</a></li>
  						</ul>
  					</div>
  				</div>
  				<div class="col-lg-2 col-md-4">
  					<div class="widget">
  						<div class="widget-title"><h4>useful links</h4></div>
  						<ul class="list-style">
  							<li><a href="https://serc.iiit.ac.in/" title="">SERC</a></li>
  							<li><a href="https://cvit.iiit.ac.in/" title="">CVIT</a></li>
  							<li><a href="https://ltrc.iiit.ac.in/" title="">LTRC</a></li>
  						</ul>
  					</div>
  				</div>
  				<div class="col-lg-2 col-md-4">
  					<div class="widget">
  						<div class="widget-title"><h4>download apps</h4></div>
  						<ul class="colla-apps">
  							<li><a href="https://play.google.com/store?hl=en" title=""><i class="fa fa-android"></i>android</a></li>
  							<li><a href="https://www.apple.com/lae/ios/app-store/" title=""><i class="ti-apple"></i>iPhone</a></li>
  							<li><a href="https://www.microsoft.com/store/apps" title=""><i class="fa fa-windows"></i>Windows</a></li>
  						</ul>
  					</div>
  				</div>
  			</div>
  		</div>
  	</footer>

    <script src="{{ url_for('static', filename='js/main.min.js') }}"></script>
  	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
  	<script src="{{ url_for('static', filename='js/map-init.js') }}"></script>
  	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
  </body>
</html>
