<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Virtual Design Workshop</title>
    <link rel="icon" href="../static/../static/images/fav.png" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="../static/css/main.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/color.css">
    <link rel="stylesheet" href="../static/css/responsive.css">

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
		
	<section>
		<div class="gap100 gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="logout-meta">
							<h2>logged out</h2>
							<p>
								Please <a href="http://127.0.0.1:5000/" title="">Login</a> or <a href="http://127.0.0.1:5000/" title="">Register</a> now to create your own profile and have access to the website!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</section>
</div>	

<footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="widget">
                            <div class="foot-logo">
                                <div class="logo">
                                    <h3>Virtual Design Workshop</h3>
                                </div>
                                <p>
                                    IIIT Hyderabad
                                </p>
                            </div>

                            <ul class="location">
                                <li>
                                    <i class="ti-map-alt"></i>
                                    <p>Professor CR Rao Rd, Gachibowli, Hyderabad, Telangana 500032</p>
                                </li>
                                <li>
                                    <i class="ti-mobile"></i>
                                    <p>040 6653 1000</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="widget">
                            <div class="widget-title"><h4>follow</h4></div>
                            <ul class="list-style">
                                <li><i class="fa fa-facebook-square"></i> <a href="https://www.facebook.com/IIITH" title="">facebook</a></li>
                                <li><i class="fa fa-twitter-square"></i><a href="https://twitter.com/iiit_hyderabad" title="">twitter</a></li>
                                <li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/iiit.hyderabad" title="">instagram</a></li>
                                <li><i class="fa fa-linkedin"></i> <a href="https://www.linkedin.com/school/iiit-hyderabad/" title="">Linkedin</a></li>
                                <li><i class="fa fa-youtube-square"></i> <a href="https://www.youtube.com/channel/UCzCMyBy0VRoQBF8x-TsXTnQ" title="">Youtube</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="widget">
                            <div class="widget-title"><h4>Navigate</h4></div>
                            <ul class="list-style">
                                <li><a href="https://www.iiit.ac.in/" title="">about us</a></li>
                                <li><a href="https://www.iiit.ac.in/contact/" title="">contact us</a></li>
                                <li><a href="https://www.iiit.ac.in/" title="">terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="widget">
                            <div class="widget-title"><h4>useful links</h4></div>
                            <ul class="list-style">
                                <li><a href="https://serc.iiit.ac.in/" title="">SERC</a></li>
                                <li><a href="https://cvit.iiit.ac.in/" title="">CVIT</a></li>
                                <li><a href="https://ltrc.iiit.ac.in/" title="">LTRC</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="widget">
                            <div class="widget-title"><h4>download apps</h4></div>
                            <ul class="colla-apps">
                                <li><a href="https://play.google.com/store?hl=en" title=""><i class="fa fa-android"></i>android</a></li>
                                <li><a href="https://www.apple.com/lae/ios/app-store/" title=""><i class="ti-apple"></i>iPhone</a></li>
                                <li><a href="https://www.microsoft.com/store/apps" title=""><i class="fa fa-windows"></i>Windows</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
	
	<script src="../static/js/main.min.js"></script>
	<script src="../static/js/script.js"></script>
	<script src="../static/js/map-init.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>

</body>	

</html>
